<div class="preloader"><div class="status">&nbsp;</div></div>

<header id="home" class="header">

  <div id="main-nav" class="navbar navbar-inverse bs-docs-nav" role="banner">

    <div class="container">

      <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <div class="navbar-header responsive-logo">
        <a href="#" class="navbar-brand"><img src="images/logo.png" alt="Theme Preview"></a>
      </div>

      <nav class="navbar-collapse bs-navbar-collapse collapse" role="navigation"   id="site-navigation">
        <ul class="nav navbar-nav navbar-right responsive-nav main-nav-list">
          {{#each index.navigation }}
          <li class="page_item"><a href="#{{id}}">{{title}}</a></li>
          {{/each}}
        </ul>
      </nav>

    </div>

  </div> <!-- / END MAIN NAV -->

  <!-- / END TOP BAR -->
  <div class="home-header-wrap">

    <div class="header-content-wrap">
      <div class="container">
        <h1 class="intro-text">{{index.header.intro}}</h1>
        <div class="cta">
          <a href="#about"><i class="fa fa-chevron-down" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
    <!-- .header-content-wrap -->
    <div class="clear"></div>
  </div>
</header> <!-- / END HOME SECTION  -->

<div id="content" class="site-content">

<section class="focus" id="about">

<div class="container">

  <!-- SECTION HEADER -->

  <div class="section-header">

    <!-- SECTION TITLE -->

    <h2 class="dark-text">{{index.navigation.about.title}}</h2>
    <div class="section-legend">{{index.about.legend}}</div>
  </div>

  <div class="row">
    {{#each index.about.columns}}
    <div class="col-lg-3 col-sm-3 focus-box" data-scrollreveal="enter left after 0.15s over 1s">
      <div class="service-icon">
        <a href="https://www.dropbox.com/s/qktrbiz6ox3x2ui/Copacker%20in%20Rwanda_small.pdf?dl=0"><i class="pixeden" style="background:url(images/{{image}}) no-repeat center;width:100%; height:100%;"></i> <!-- FOCUS ICON--></a>
      </div>
          
      <h3 class="red-border-bottom subtitle">{{title}}</h3>
      <!-- FOCUS HEADING -->

      <p>{{{text}}}</p>

    </div>
    {{/each}}

</div> <!-- / END CONTAINER -->

</section>  <!-- / END FOCUS SECTION -->

<section class="about-us" id="offer">
  <div class="container">

    <!-- SECTION HEADER -->

    <div class="section-header">

      <!-- SECTION TITLE -->

      <h2 class="white-text">{{index.navigation.offer.title}}</h2>
      <!-- SHORT DESCRIPTION ABOUT THE SECTION -->

      <div class="white-text section-legend">{{index.offer.legend}}
      </div>    
    </div><!-- / END SECTION HEADER -->

    <!-- 3 COLUMNS OF ABOUT US-->

    <div class="row">

      <!-- COLUMN 1 - BIG MESSAGE ABOUT THE COMPANY-->

    <div class="col-lg-4 col-md-4 column zerif-rtl-big-title">
      <div class="big-intro" data-scrollreveal="enter left after 0s over 1s">
        {{index.offer.bigText}}
      </div>
      {{!-- <p style="text-align:right;">{{index.offer.smallText}}</p> --}}
    </div>

    <div class="col-lg-4 col-md-4 column zerif-rtl-skills ">

      <ul class="skills" data-scrollreveal="enter right after 0s over 1s">

        <!-- SKILLS -->
        {{#each index.offer.services.column1.skills}}
        <li class="skill">
          <div class="skill-count"><i class="fa fa-check" aria-hidden="true"></i></div>
          <div class="section-legend">{{skill}}</div>
        </li>
        {{/each}}
      </ul>

    </div> <!-- / END SKILLS COLUMN 1-->

      <div class="col-lg-4 col-md-4 column zerif-rtl-skills ">
        <ul class="skills" data-scrollreveal="enter right after 0s over 1s">
        {{#each index.offer.services.column2.skills}}        
        <li class="skill skill_5">
          <div class="skill-count"><i class="fa fa-check" aria-hidden="true"></i></div>
          <div class="section-legend">{{skill}}</div>
        </li>
        {{/each}}
      </ul>

    </div> <!-- / END SKILLS COLUMN 2-->

    
  </div> <!-- / END 3 COLUMNS OF ABOUT US-->

  <!-- CLIENTS -->
  
</div> <!-- / END CONTAINER -->

</section> <!-- END ABOUT US SECTION -->

<section class="testimonial" id="solutions">
  <div class="container">
    <div class="row" data-scrollreveal="enter right after 0s over 1s">
      <div class="col-md-12">
        <div id="client-feedbacks" class="owl-carousel owl-theme  ">

          {{#each index.offer.packages}}
          <div class="feedback-box">

              <h3 class="red-border-bottom subtitle">{{title}}</h3>
              <div class="message">
              <h4>{{{description}}}</h4>
                <ul>
                  {{#each features}}
                  <li>{{item}}</li>
                  {{/each}}
                </ul>
              </div>

          </div>
          {{/each}}

        </div>
      </div>
    </div>
  </div>
</section> 

<section class="our-team" id="team">
  <div class="container">
    <div class="section-header">
      <h2 class="dark-text">{{ index.navigation.team.title }}</h2>

      <div class="section-legend">{{ index.team.legend }}</div>
    </div>

    <div class="row" data-scrollreveal="enter left after 0s over 0.1s">

      {{#each index.team.members }}
      <div class="col-lg-3 col-sm-3 team-box">

        <div class="team-member">
          <figure class="profile-pic">
            <img src="images/{{image}}" alt="Uploaded image" />
          </figure>
        
          <div class="member-details">
            <h3 class="dark-text red-border-bottom">{{name}}</h3>
            <div class="position">{{position}}</div>
          </div>

          <div class="details">
            {{details}}
          </div>
        
        </div>
      </div>
      {{/each}}

    </div>
  </div>
</section> 

<section class="contact-us" id="contact">
  <div class="container">
    <!-- SECTION HEADER -->
    <div class="section-header">

      <h2 class="white-text">{{ index.navigation.contact.title }}</h2>          
    </div>
    <!-- / END SECTION HEADER -->

    <!-- CONTACT FORM-->
    <div class="row">

      <form role="form" method="POST" action="https://formspree.io/sharonkennedy100@gmail.com" onSubmit="this.scrollPosition.value=(document.body.scrollTop || document.documentElement.scrollTop)" class="contact-form">

        <input type="hidden" name="scrollPosition">
        <input type="hidden" name="submitted" id="submitted" value="true" />
        <input type="text" name="_gotcha" style="display:none" />
        <input type="hidden" name="_subject" value="[FreshBlends] Message from website" />
      
        <div class="col-lg-4 col-sm-4 zerif-rtl-contact-name" data-scrollreveal="enter left after 0s over 1s">
          <label for="myname" class="screen-reader-text">Name</label>
          <input required="required" type="text" name="name" id="myname" placeholder="Name" class="form-control input-box" value="">
        </div>

        <div class="col-lg-4 col-sm-4 zerif-rtl-contact-email" data-scrollreveal="enter left after 0s over 1s">
          <label for="myemail" class="screen-reader-text">Email</label>
          <input required="required" type="email" name="_replyto" id="myemail" placeholder="Email" class="form-control input-box" value="">
        </div>

        <div class="col-lg-4 col-sm-4 zerif-rtl-contact-subject" data-scrollreveal="enter left after 0s over 1s">
          <label for="mysubject" class="screen-reader-text">Country</label>
          <input required="required" type="text" name="country" id="mycountry" placeholder="Country" class="form-control input-box" value="">
        </div>

        <div class="col-lg-12 col-sm-12" data-scrollreveal="enter right after 0s over 1s">
          <label for="mymessage" class="screen-reader-text">Message</label>
          <textarea name="message" id="mymessage" class="form-control textarea-box" placeholder="Message"></textarea>
        </div>

        <button class="btn btn-primary custom-button red-btn" type="submit" data-scrollreveal="enter left after 0s over 1s">Send Message</button>
        
      </form>

    </div>

    <!-- / END CONTACT FORM-->
    
  </div> <!-- / END CONTAINER -->

</section> <!-- / END CONTACT US SECTION-->
      
</div><!-- .site-content -->

<footer id="footer" role="contentinfo">


<div class="container">

  <div class="col-md-6 company-details endeva">
    <h4><img src="images/endeva.png" alt="Endeva logo">{{index.footer.endeva}}</h4>
    <p>{{{index.footer.endevaDescription}}}</p>
  </div>

  {{#each index.footer.contacts}}

  <div class="col-md-3 company-details contact-info">
    <h4 style="margin-top: 28px">{{country}}</h4>
    <p><i class="fa fa-user" aria-hidden="true"></i> {{contact}}</p>
    <p><i class="fa fa-envelope" aria-hidden="true"></i> {{email}}</p>
    <p><i class="fa fa-phone" aria-hidden="true"></i> {{phone}}</p>
  </div>

  {{/each}}

</div>

</div> <!-- / END CONTAINER -->

</footer> <!-- / END FOOOTER  -->


  </div><!-- mobile-bg-fix-whole-site -->
</div><!-- .mobile-bg-fix-wrap -->
